body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #D3FFCE;
    margin-top: 1em;
    margin-left: 1em;
}

h1 {
    color: #2ECC71;
    font-size: 3em;
    text-align: center;
}

h3 {
    color: #2ECC71;
    font-size: 2em;
}

.logo {
    max-width: 10%;
    vertical-align: middle;
    text-align: center;
}

.result {
    max-width: 10em;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 1.25em;
}

/* Introduction Page */
#introduction {
    text-align: center;
    padding: 1em;
    font-size: 1.5em;
}

#instructions {
    text-align: left;
}

/* Quiz Page */
#quiz {
    text-align: center;
    padding: 1em;
    font-size: 1em;
}

#questioncontainer {
    margin-top: 1em;
    text-align: left;
    font-size: 1em;
}

.answer {
    cursor: pointer;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #4CAF50;
    background-color: #C9FFD8;
    text-align: left;
    font-size: 1.5em;
}

#answers li {
    margin-bottom: 1em;
}

#progressbar {
    margin-top: 1em;
    color: #239B56;
    text-align: left;
    font-size: 1em;
}

#nextbutton {
    margin-top: 1em;
    padding: 1em;
    background-color: #2ECC71;
    color: white;
    border: none;
    font-size: 1em;
}

#nextbutton:hover {
    background-color: #239B56;
}

/* Compound selector that targets both selected and boldtext classes */
.selected.boldtext {
    font-weight: bold;
    color: #239B56;
    font-size: 1em;
}

/* Helptext */
#helptext {
    margin-top: 1em;
    color: #239B56;
    text-align: left;
    font-size: 1em;
}

/* Hiding help message */
.hidden {
    display: none;
}